body {
    background-color: black;
    color: white;
}

table {
    width: 30%;
    border-collapse: collapse;
    text-align:center;
    margin-top:10%;
    margin-left:30%;
  }
  td {
    width: 33.333%;
    border: 5px solid white;
  }
  td::after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  td {
    border: 6px solid #222;
  }
  td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
  }
  td:nth-of-type(2) {
    border-top-color: transparent;
  }
  td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }
  tr:nth-of-type(3) td {
    border-bottom-color: transparent;
  }
img.resize {
    max-width:50%;
    max-height:50%;
}